Main/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="urn:schemas-microsoft-com:asm.v1" />
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="configSections">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="section">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="sectionGroup">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="section">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="type" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="startup">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="supportedRuntime">
								<xs:complexType>
									<xs:attribute name="version" type="xs:string" use="required" />
									<xs:attribute name="sku" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="runtime">
					<xs:complexType>
						<xs:sequence>
							<xs:element xmlns:q1="urn:schemas-microsoft-com:asm.v1" ref="q1:assemblyBinding" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MODBUS_Connection_Info">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Database">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Connection_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DB_Settings">
											<xs:complexType>
												<xs:attribute name="Server" type="xs:string" use="required" />
												<xs:attribute name="UserID" type="xs:string" use="required" />
												<xs:attribute name="Password" type="xs:string" use="required" />
												<xs:attribute name="Database" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Connection_Attempt">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="add">
											<xs:complexType>
												<xs:attribute name="key" type="xs:string" use="required" />
												<xs:attribute name="value" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Audit_Trail">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="add">
											<xs:complexType>
												<xs:attribute name="key" type="xs:string" use="required" />
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>